div {
    width: 75%;
    margin: auto;
    text-align: left;
}

h2 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
}

p {
    margin-top: 20px;
    text-align: left;
}
